:root {
    --salad: #17f702;
    --gray: #4c5e5f;
    --shadow: rgba(0, 0, 0, 0.2);
    --shadow2: rgba(0, 0, 0, 0.3);
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, white, rgb(255, 77, 77));
}

.main {
    display: flex;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0.5vh;
    width: 90%;
    max-width: 1000px;
    max-height: 70vh;
    flex-direction: column;
    gap: 3vh;
}

.header {
    font-style: bold;
    font-size: 5.0em;
    background: rgb(206, 46, 25);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}

.platform {
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    box-shadow: 0 10px 30px var(--shadow);
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column; 
    transition: all 0.2s ease;
}

.platform:hover {
    transform: translateY(-2px);
    opacity: 0.95;
    box-shadow: 0 10px 30px var(--shadow2);
}

.many-plats {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 3vh;
}

.platform2 {
    display: flex;
    background-color: white;
    border-radius: 15px;
    height: 340px;
    width: 100%;
    box-shadow: 0 10px 30px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease;
}

.platform2:hover {
    transform: translateY(-2px);
    opacity: 0.95;
    box-shadow: 0 10px 30px var(--shadow2);
}

.platform3 {
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    box-shadow: 0 10px 30px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease;
    text-align: center;
}

.platform3:hover {
    transform: translateY(-2px);
    opacity: 0.95;
    box-shadow: 0 10px 30px var(--shadow2);
}

.plat-content {
    font-weight: bold;
    margin: 20px;
    font-size: 1.4em;
    text-align: center;
}

.plat-author {
    color: var(--gray);
    font-size: 1.0em;
    text-align: center;
    margin: 20px;
}

.image-cover {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    justify-content: right;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    transition: all 0.2s ease;
}

.image-cover:hover {
    transform: translateY(-2px);
    opacity: 0.98;
    box-shadow: 0 10px 30px var(--shadow2);
}

.music-player {
    justify-content: center;
    margin: 10px;
}

.some-plats {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 1vh;
}

.image-small {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    justify-content: right;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.2s ease;
}

.image-small:hover {
    transform: translateY(-2px);
    opacity: 0.98;
    box-shadow: 0 10px 30px var(--shadow2);
}